body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #9400d3;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"] {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

form button {
    margin-top: 10px;
    margin-inline: 2px;
    padding: 6px 20px;
    font-size: 14px;
}

#conversionResult {
    margin-top: 20px;
    text-align: center;
}

#conversionResult h2 {
    margin-bottom: 10px;
}

#conversionResult p {
    font-weight: bold;
    margin: 0;
    padding: 20px;
    font-size: 16px;
}

.resultBox {
    max-width: 1000px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#conversionToggle {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#conversionToggle button {
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    background-color: #e6e6fa;
    color: #000; /* Black */
    border: 2px solid #9400d3;
    padding: 4px 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

#conversionToggle button.active {
    background-color: #9400d3;
    color: #fff;
}

